doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')


  body
  <script src="client.js"></script>
  <input type="text" id="newTask" placeholder="add a new task">
  <button onclick="client.js"></button>
  <ul id="taskList"></ul>
  <div id="app"></div>
    block content
  
