doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')


  body
  <script src="client.js"></script>
  
  <input type="text" id="newTask" placeholder="add a new task">
  <button onclick="client">client button</button>
  <ul id="taskList"></ul>
    block content
  
