doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
  <input type="text" id="newTask" placeholder="add a new task">
  <button onclick="addTask()">lägg till</button>
  <ul id="taskList"></ul>
    block content
